<div class="container py-4">
    <div class="row">
        <div class="col-lg-12 col-xl-6 col-sm-12 col-md-12 d-flex flex-column justify-content-center gap-4">

            <div class="col-xl-12">
                <h1 class="display-1 text-center text-sm-start text-white fw-light pb-3 pb-sm-5">Kendinizi Keşif Yolculuğu</h1>
                <div class="avatar-stack">
                    <img src="./images/persons/banu-boxed.png"
                         class="avatar rounded-circle border border-white border-opacity-25 border-5" alt="Banu DOLAŞTIR" title="Banu DOLAŞTIR">
                    <img src="./images/persons/sema-boxed.png"
                         class="avatar rounded-circle border border-white border-opacity-25 border-5" alt="Sema BOZBEY" title="Sema BOZBEY">
                    <img src="./images/persons/buket-boxed.png"
                         class="avatar rounded-circle border border-white border-opacity-25 border-5" alt="Buket Onar YAVUZYİĞİT" title="Buket Onar YAVUZYİĞİT">
                    <img src="./images/persons/esra-boxed.png"
                         class="avatar rounded-circle border border-white border-opacity-25 border-5" alt="Esra GENÇ" title="Esra GENÇ">
                    <img src="./images/persons/ozge-boxed.jpg"
                         class="avatar rounded-circle border border-white border-opacity-25 border-5" alt="Özge KICALI" title="Özge KICALI">
                </div>
            </div>

            <div class="col-xl-12 main-services">
                <ul class="d-flex flex-wrap list-unstyled gap-2">
                    <li class="border border-white text-white py-1 px-3 rounded-pill">Şema Terapi</li>
                    <li class="border border-white text-white py-1 px-3 rounded-pill">Aile ve Çift Terapisi</li>
                    <li class="border border-white text-white py-1 px-3 rounded-pill">Çocuk ve Ergen Terapisi</li>
                    <li class="border border-white text-white py-1 px-3 rounded-pill">Yetişkin Terapisi</li>
                    <li class="border border-white text-white py-1 px-3 rounded-pill">Online Terapi</li>
                    <li class="border border-white text-white py-1 px-3 rounded-pill">Oyun Terapisi</li>
                    <li class="border border-white text-white py-1 px-3 rounded-pill">Ebeveyn Koçluğu</li>
                </ul>
            </div>

            <div class="col-xl-12 d-flex flex-column flex-sm-row action-buttons gap-3">
                <a href="./uzmanlarimiz" class="btn btn-outline-light rounded-pill px-4 fs-5 action-button">Uzmanlarımız <i
                        class="bi bi-people"></i></a>
                <a href="https://api.whatsapp.com/send/?phone=905304689634" class="btn btn-success rounded-pill px-4 fs-5"><i class="bi bi-whatsapp"></i> WhatsApp
                    Destek</a>
            </div>

            <div class="col-xl-12">
                <img src="./images/dt-logo.svg" class="w-50 pb-2">
                <div class="stars">
                    <i class="bi bi-star-fill text-warning"></i>
                    <i class="bi bi-star-fill text-warning"></i>
                    <i class="bi bi-star-fill text-warning"></i>
                    <i class="bi bi-star-fill text-warning"></i>
                    <i class="bi bi-star-fill text-warning"></i>
                </div>
            </div>

        </div>

        <div class="col-lg-6 d-flex align-items-center d-none d-xl-block">
            <img src="./images/p4.png" class="w-100" alt="">
        </div>
    </div>
</div>
